@inject HttpClient Http
@inject IConfiguration Config

<h1>Available packages</h1>

@if (packagesPage == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Pager Page=@packagesPage />

    @foreach (var package in packagesPage.Items)
    {
        <PackageCard Package="@package" />
    }

    <Pager Page=@packagesPage />
}

@functions {
    PagingResultDto<PackageInfoDto> packagesPage;

    protected override async Task OnInitAsync()
    {
        var searchObject = new { Name = "" };
        Console.WriteLine(Config["searchUrl"]);
        packagesPage = await Http.PostJsonAsync<PagingResultDto<PackageInfoDto>>(Config["searchUrl"], searchObject);
    }
}
