@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="position: static; z-index: 1000;">
        <a href="https://github.com/k0dep" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div class="top-row px-4" style="z-index: 100; top: 100%;">
        Made with ❤ for Unity3d users
        <a href="https://github.com/k0dep" target="_blank" class="ml-md-auto">Copyright © 2019 Stanislav Petrov | sv.petrov&#64;kodep.pro</a>
    </div>
</div>
